/*
Color Palette
Jet Black #333333
Eminence #643173
Ghost White #F2F4FF
Royal Purple #7D5BA6
Selective Yellow #FFBC0A
*/
html {
    height: 100%;
    width: 100%;
    
}
body {
  background: black;
  background-size: cover;
}

.mytext {
  color: #F2F4FF;
}
.myline {
  color: #F2F4FF;
}
.div2 {
  z-index: 1;
}
.my_row {
  background-color: darkolivegreen;
}
/* IMAGES */
.c-img {
  filter: brightness(0.8);

  object-fit: cover;
  object-position: center;
  height: 60vh;
  overflow: hidden;
}
  
  /* Falling Star */
  /*
.mybg {
  background-size: cover;
  background-position:50% 50%;
  width:100%;
  height:100%;
  position:fixed;
  top:0px;
  left:0px;
  z-index:-2;
  background-repeat:repeat;
}
  .star {
    position: absolute;
    top: 0;
    left:49%;
    z-index: 2;
    width:7%;
    height:auto;
    animation: animStar 15s linear infinite;
  }
  
  @keyframes animStar {
    from {
      transform: translateY(-500px);
    }
    to {
      transform: translateY(0px);
    }
  }
  
  /* Rising Thing */
  /*
  .rising {
    position: absolute;
    top: 0;
    left:49%;
    z-index: 2;
    width:7%;
    height:auto;
    animation: rise 30s linear infinite;
  }
  
  @keyframes rise {
    from {
      transform: translateY(0);
    }
    to {
      transform: translateY(-2000px);
    }
  }
  
  */

