/*
Color Palette
Jet Black #333333
Eminence #643173
Ghost White #F2F4FF
Royal Purple #7D5BA6
Selective Yellow #FFBC0A
*/
html {
  height: 100%;
  width: 100%;
  background: url("Images/WW2-bg1.webp") no-repeat center center fixed;
  background-size: cover;
    
}
body {
  background-color: rgba(0, 0, 0, 0.6);
}

.mytext {
  color: #F2F4FF;
}
.myline {
  color: #F2F4FF;
}
.div2 {
  z-index: 1;
}
.my_olive {
  background-color: rgba(0, 0, 0, 0.7);
}
.nobg {
  background-color: transparent;
}
/* IMAGE */
.c-img {
  filter: brightness(0.8);
  object-fit: cover;
  object-position: center;
  height: 60vh;
  overflow: hidden;
}
.s-text {
  color: #F2F4FF;
  text-align: center;
  padding: 0;
  margin: 0;
  visibility: hidden;
  display: inline-block;
  position: relative;
  top: -50%;
  left: 50%;
  transform: translate(-50%, -50%);


}
.s-img:hover + .s-text, .s-text:hover {
  visibility: visible;
  font-size: 2rem;
  font-weight: bold;
  text-shadow: 2px 2px 4px #000000;
}
.s-img {
  height: 50vh;
  padding: 0;
  margin: 0;
  object-fit: cover;
  object-position: center;
  overflow: hidden;
  transition: 0.5s;
}
.s-text:hover + .s-img, .s-img:hover {
  filter: brightness(0.8);
}
#grayscale {
  filter: grayscale(100%);
  transition: 0.5s;
}
#grayscale:hover {
  filter: grayscale(100%) brightness(0.8);
}
  /* Falling Star */
  /*
.mybg {
  background-size: cover;
  background-position:50% 50%;
  width:100%;
  height:100%;
  position:fixed;
  top:0px;
  left:0px;
  z-index:-2;
  background-repeat:repeat;
}
  .star {
    position: absolute;
    top: 0;
    left:49%;
    z-index: 2;
    width:7%;
    height:auto;
    animation: animStar 15s linear infinite;
  }
  
  @keyframes animStar {
    from {
      transform: translateY(-500px);
    }
    to {
      transform: translateY(0px);
    }
  }
  
  /* Rising Thing */
  /*
  .rising {
    position: absolute;
    top: 0;
    left:49%;
    z-index: 2;
    width:7%;
    height:auto;
    animation: rise 30s linear infinite;
  }
  
  @keyframes rise {
    from {
      transform: translateY(0);
    }
    to {
      transform: translateY(-2000px);
    }
  }
  
  */

