/*

*/
html {
  height: 100%;
  width: 100%;
    
}
body {
  background-color: rgba(0, 0, 0, 0.6);
}
body::-webkit-scrollbar {
  display: none;
}
/* Backgrounds */
.homebg {
  background: url("Images/WW2-bg1.webp") no-repeat center center fixed;
  background-size: cover;
}
.radarbg {
  background: url("Images/r-chain_home-ec.webp") no-repeat center center fixed;
  background-size: cover;
}
.enginebg {
  background: url("Images/e-messerschmitt-me-262.webp") no-repeat center center fixed;
  background-size: cover;
}
.jeepbg {
  background: url("") no-repeat center center fixed;
  background-size: cover;
}
.bazookabg {
  background: url("") no-repeat center center fixed;
  background-size: cover;
}
.v2bbg {
  background: url("") no-repeat center center fixed;
  background-size: cover;
}
.atombg {
  background: url("") no-repeat center center fixed;
  background-size: cover;
}

/* TEXT & DIVS */

.mytext {
  color: #F2F4FF;
}
.ptext {
  text-align: justify;
}
.myline {
  color: #F2F4FF;
}
.div2 {
  z-index: 1;
}
.my_div {
  background-color: rgba(0, 0, 0, 0.7);
}
.nobg {
  background-color: transparent;
}
.n-item{
  transition: 0.6s;
}
.n-item:hover {
  border-bottom-color: #F2F4FF;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  transition: 0.3s;
}
/* IMAGES */
.c-img {
  filter: brightness(0.8);
  object-fit: cover;
  object-position: center;
  height: 80vh;
  overflow: hidden;
}
.p-img {
  height: 65vh;
  padding: 0;
  margin: 0;
  object-fit: cover;
  object-position: center;
  overflow: hidden;
}
.s-img {
  height: 50vh;
  padding: 0;
  margin: 0;
  object-fit: cover;
  object-position: center;
  overflow: hidden;
  transition: 0.5s;
  filter: brightness(0.8);
}
.s-img:hover {
  filter: brightness(1);
}
#grayscale {
  filter: grayscale(100%) brightness(0.8);
  transition: 0.5s;
}
#grayscale:hover {
  filter: grayscale(100%) brightness(1);
}

  /* Falling Star */
  /*
.mybg {
  background-size: cover;
  background-position:50% 50%;
  width:100%;
  height:100%;
  position:fixed;
  top:0px;
  left:0px;
  z-index:-2;
  background-repeat:repeat;
}
  .star {
    position: absolute;
    top: 0;
    left:49%;
    z-index: 2;
    width:7%;
    height:auto;
    animation: animStar 15s linear infinite;
  }
  
  @keyframes animStar {
    from {
      transform: translateY(-500px);
    }
    to {
      transform: translateY(0px);
    }
  }
  
  /* Rising Thing */
  /*
  .rising {
    position: absolute;
    top: 0;
    left:49%;
    z-index: 2;
    width:7%;
    height:auto;
    animation: rise 30s linear infinite;
  }
  
  @keyframes rise {
    from {
      transform: translateY(0);
    }
    to {
      transform: translateY(-2000px);
    }
  }
  
  */

